/* Setting on every element */
* {
    box-sizing: border-box;
}

/*  ---- Fallback background-color-----  */
.site{
    background-color: map-get($colors, main);
}

@supports (display: grid){ 
    .site{
        background-color: white;
    }
    
}


/* Remove underline on links */
a {
    text-decoration: none;
}

/* Remove list bullets */
ul {
    list-style-type: none;
}

ul, li {
    padding: 0;
    margin: 0;
}