
/* Justerar bilderna i olika breakpoints */
.container-gallery{
    @include respond-to("medium"){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.image{
    @extend %card-img;
    @include respond-to("medium"){
        background-color: white;
        border: 2px solid rgb(173, 172, 172);
    }
    img{
        width: 100%;
        height: auto;
        min-height: 140px;
    }
}

.image:nth-child(2){
    grid-row: span 2;
    grid-column: span 2;
}

.caption {
    position: absolute;
    color: white;
    background-color: map-get($colors, medium-grey);
    padding: 0.5em;
    margin: 0;
    width: 85%;
    @include respond-to("medium"){
        width: 78%;
    }
        
    p{
        padding: 0;
        margin: 0;
        font-family: map-get($text, body);
    }
}










