/*  ---- Mobile first / Fallback "grid-image"-----  */

.site{
    background-color: map-get($colors, main);
}


@supports (display: grid){
    .site{
        background-color: white;
    }
    .container-img{
    
    @include bg-img();
    height: 500px;
    @include respond-to("medium"){ //desktop grid-image
        width: auto;
    }

    }
    
    .container-img{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        height: 1000px;
    }

    $i:1; 

    .grid-item{
        opacity: 0.6;
    }

    .grid-item:nth-child(#{$i}){
        grid-column: 1/4;
        grid-row: 2/3;
        background-color: orange;
    }
    $i:$i+1;

    .grid-item:nth-child(#{$i}){
        grid-column: 5/7;
        grid-row: 1/4;
        background-color: rgb(214, 112, 52);
    }
    $i:$i+1;
    .grid-item:nth-child(#{$i}){
        grid-column: 1/2;
        grid-row: 2/7;
        background-color: rgb(248, 79, 56);
    }
    $i:$i+1;
    .grid-item:nth-child(#{$i}){
        grid-column: 4/9;
        grid-row: 3/5;
        background-color: rgba(248, 228, 52, 0.582);
    }
    $i:$i+1;
    .grid-item:nth-child(#{$i}){
        grid-column: 3/5;
        grid-row: 4/8;
        background-color: rgb(196, 54, 29);
    }
    $i:$i+1;
    .grid-item:nth-child(#{$i}){
        grid-column: 2/10;
        grid-row: 7/9;
        background-color: rgb(150, 95, 7);
    }
    $i:$i+1;
    .grid-item:nth-child(#{$i}){
        grid-column: 9/10;
        grid-row: 5/9;
        background-color: rgb(117, 42, 12);
    }

}
