/* Hide checkbox hack */
#toggle_menu {
  display: none;
}

/* Style for whole of hamburger icon */
#container-hamburger-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0 1em 0 auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

/* Common style for hamburger icon layers */
#container-hamburger-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

/* Style for every hamburger layer */
#container-hamburger-icon span:nth-child(1) {
  top: 0px;
}

#container-hamburger-icon span:nth-child(2),
#container-hamburger-icon span:nth-child(3) {
  top: 18px;
}

#container-hamburger-icon span:nth-child(4) {
  top: 36px;
}

#toggle_menu:checked
  ~ #toggle_label
  #container-hamburger-icon
  span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#toggle_menu:checked
  ~ #toggle_label
  #container-hamburger-icon
  span:nth-child(2) {
  transform: rotate(45deg);
}

#toggle_menu:checked
  ~ #toggle_label
  #container-hamburger-icon
  span:nth-child(3) {
  transform: rotate(-45deg);
}

#toggle_menu:checked
  ~ #toggle_label
  #container-hamburger-icon
  span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
