/* Checkbox hack */
#toggle-menu {
    /* Hide checkbox */
    display: none;

    /* Animate hamburger icon when clicked */
    &:checked ~ #container-hamburger-icon {
        background: black;

        #hamburger-icon span {
            background: white;

            &:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }
}

/* Container which can position the hamburger icon */
#container-hamburger-icon {
    background: map-get($colors, main2);
    padding: 1em;
    transition: 0.5s ease-in-out;
}

/* Style for whole of hamburger icon */
#hamburger-icon {
    width: 60px;
    height: 45px;
    position: relative;
    cursor: pointer;

    /* Common style for hamburger icon layers */
    span {
        position: absolute;
        height: 9px;
        width: 100%;
        background: black;
        border-radius: 9px;
        left: 0;
        transition: 0.25s ease-in-out;

        /* Style for every hamburger layer */
        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 18px;
        }

        &:nth-child(4) {
            top: 36px;
        }
    }
}

@include respond-to("medium") {
    /* Hide hamburger icon on bigger screens */
    #container-hamburger-icon {
        display: none;
    }
}