#desktop-logo {
    display: none;
}

.container-logo {
    img {
        /* Remove bottom space */
        vertical-align: bottom;
        /* Make the image fill out top screen width */
        width: 100%;
    }
}

/* Tablet styling */
@include respond-to("medium") {
    #standard-logo{
        display: flex;
    }

    .container-logo {
        align-items: center;
        justify-content: center;
    }
}

@supports (grid-area: auto) {
    /* Desktop styling */
    @include respond-to("large") {
        #standard-logo {
            display: none;
        }

        /* Logo container */
        #desktop-logo {
            display: flex;
            
            /* Size */
            $side: 280px;
            width: $side;
            height: $side;
            
            
            background: black;
            border: 10px solid map-get($colors, main2);
            border-radius: $side/2;
            padding: 1em;
            transform: rotate(-20deg);
            z-index: 1;

            /* Position logo */
            grid-column: 1/3;
            grid-row: 2/3;
            justify-self: center;
            align-self: center;

            img {
                
            }
        }
    }
}
