nav {
    font-family: map-get($text, stylish);
    background: white;
    line-height: 2em;
    transition: 0.5s ease-in-out;

    /* Hide menu as default */
    & > ul {
        display: none;
        position: relative;
        width: 100%;

        /* Main menu text */
        & > li > a {
            color: map-get($colors, main2);
        }

        /* Mega menu */
        .mega-menu {
            /* Mega menu titles */
            & > * > a {
                color: map-get($colors, main3);
                padding-left: 2em;
            }

            /* Menu links */
            ul li a {
                color: whitesmoke;
                padding-left: 3em;
            }
        }

        /* List item styling */
        a {
            display: block;
            padding-left: 1em;

            &:hover {
                background-color: map-get($colors, select);
            }
        }
    }
}

/* Show full menu if checked checkbox */
input#toggle-menu:checked ~ nav {
    background: black;

    & > ul {
        display: block;
    }
}

/* Tablet styling */
@include respond-to("medium") {
    nav {
        background: black;
        font-size: 1em;

        /* Make menu flex */
        & > ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            /* Main menu text */
            & > li > a {
                padding: 15px 25px;
            }
        }

        a {
            /* Hover-effect on select color */
            transition: 0.2s ease-in-out;
            border-radius: 5px;
        }

        /* Megamenu styling */
        ul.mega-menu {
            background: black;
            opacity: 0.85;
            position: absolute;
            display: flex;
            flex-flow: row wrap;
            max-width: 1200px;
            top: -1000px;
            left: 0;
            padding: $mmpadding;
            text-align: left;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
            z-index: 2;

            /* The megamenu is divided on two columns width equal size */
            ul {
                flex: 1 1 50%;
                margin-bottom: 1em;

                li a {
                    padding-left: 3em;
                }
            }

            /* Mega menu titles */
            & > * > a {
                padding-left: 0.5em;
            }
        }

        /* Show mega menu when hovering */
        ul li:hover ul.mega-menu {
            top: 100%;
        }
    }
}

/* Desktop styling */
@include respond-to("huge") {
    nav > ul {
        justify-content: center;

        /* Put mega menu just below parent */
        & > li {
            position: relative;

            .mega-menu {
                width: $mmcol1width + $mmcol2width + 2*$mmpadding;

                /* Make fix width columns in mega menu instead of 50% */
                ul {
                    flex: 0 1 auto;

                    &:nth-child(2n + 1) {
                        width: $mmcol1width;
                    }

                    &:nth-child(2n) {
                        width: $mmcol2width;
                    }
                }
            }
        }
    }
}
