//Justerar layout i största breakpointen
@include respond-to("large"){ 
    .site{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 400px) 100px;
    grid-template-areas: "img head head" "img gallery gallery" "img gallery gallery" ". page-foot .";
    }

    .container-header{
    grid-area: head;
    height: 300px;
    }

    .container-img{
    grid-area: img;
    }

    .container-gallery{
    grid-area: gallery;
    }


    .page-foot{
    grid-area: page-foot;
    }
}



