$breakpoints:(
"small": (min-width: 30em),
"medium": (min-width: 40em),
"large": (min-width: 60em)
) !default;
    

/* Justera f채rgvalen */
$colors: (
    main: rgb(204, 88, 80),
    bright: rgb(243, 241, 241),
    medium-grey: rgba(97, 99, 99, 0.7),
    dark: rgb(99, 66, 66)
) !default;

$text: (
    body: unquote("Arial, sans-serif"),
/* fyll p책/채ndra text-inst채llningar? */
)