$breakpoints:(
"small": (min-width: 30em),
"medium": (min-width: 40em),
"large": (min-width: 60em)
) !default;
    

/* Justera f채rgvalen */
$color: (
    main: rgb(204, 88, 80),
    bright: rgb(243, 241, 241),
    dark: rgb(99, 66, 66)
) !default;

$text: (
    body: ("Arial"),
    /* fyll p책/채ndra text-inst채llningar */
)