/* sass map för breakpoints*/
$breakpoints: (
    "small": (min-width: 40em), /* Tablet */
    "medium": (min-width: 60em) /* Medium-sized desktop */
  )
  !default;

$colors: (
  darkgreen1: rgb(34, 158, 34),
  darkgreen2: rgb(0, 130, 0),
  lightgreen1: rgb(71, 218, 71),
  lightgreen2: rgb(77, 255, 77)
);